@import url("https://fonts.googleapis.com/css2?family=Quantico:ital,wght@0,400;0,700;1,400;1,700&display=swap");

$primary-color: #39cdcc;
$bgPrimary-color: #fbfbfb;
$bgSecondary-color: #ffff;
$secondary-color: #213f7d;
$primaryText-color: #545f7d;
$border-color: #e4e4e4;
$danger-color: #e4033b;
$star-color: #e9b200;

//DarkMode
$DarkPrimary-color: #39cdcc;
$DarkSecondary-color: #fbfbfb;
$DarkPrimaryText-color: #213f7d;
$DarkSecondaryText-color: #545f7d;

$breakpoints: (
  "sm": 576px,
  "md": 768px,
  "lg": 992px,
  "xl": 1200px,
  "xxl": 1400px,
);

@mixin respond-to($breakpoint) {
  @if map-has-key($breakpoints, $breakpoint) {
    @media screen and (min-width: map-get($breakpoints, $breakpoint)) {
      @content;
    }
  }
}

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin responsive-image {
  max-width: 100%;
  height: auto;
  display: block;
  object-fit: contain;
}

@mixin navText {
  color: $secondary-color;
  font-weight: 400;
  text-align: start;
  font-size: 16px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Work Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $bgPrimary-color;
  width: 100vw;
  position: relative;
}
